/* Global css start */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Panchang';
    overflow-x: hidden;
    background-color: #e8ebe8;
}

s s h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
label,
ol,
ul,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

h1 {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 8px;
    color: #191919;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    margin-bottom: 16px;
    color: #191919;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.btn {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #191919;
    padding: 28px 56px;
    border-radius: 50px;
    margin-top: 70px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all ease .5s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(-5px);
    box-shadow: 0px 10px 25px -2px rgba(0, 0, 0, 0.45);
}

h6 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #191919;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all ease .5s;
}

p {
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    color: #191919;
}

.loader {
    width: 100%;
    height: 100vh;
    background-color: #231f20;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Global css end */


/* fonts css start */

@font-face {
    font-family: 'Panchang';
    src: url('../fonts/Panchang-Semibold.woff2') format('woff2'), url('../fonts/Panchang-Semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panchang';
    src: url('../fonts/Panchang-Extrabold.woff2') format('woff2'), url('../fonts/Panchang-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panchang';
    src: url('../fonts/Panchang-Medium.woff2') format('woff2'), url('../fonts/Panchang-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panchang';
    src: url('../fonts/Panchang-Regular.woff2') format('woff2'), url('../fonts/Panchang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panchang';
    src: url('../fonts/Panchang-Bold.woff2') format('woff2'), url('../fonts/Panchang-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panchang';
    src: url('../fonts/Panchang-Light.woff2') format('woff2'), url('../fonts/Panchang-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panchang';
    src: url('../fonts/Panchang-Extralight.woff2') format('woff2'), url('../fonts/Panchang-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


/* fonts css end */


/* ---------------- Home page css start ----------------- */


/* header css start */

header {
    z-index: 1;
    width: 100%;
    /* position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: all ease-in-out .9s; */
}


/* .fixed {
    position: sticky;
    background: radial-gradient(circle, rgba(194, 194, 194, 1) 0%, rgba(0, 0, 0, 1) 100%);
} */

header .container {
    padding: 0 24px;
}

header .black-border {
    width: 100%;
    height: 3px;
    background-color: #191919;
    transform: scaleX(0);
    position: relative;
    bottom: 0;
    left: 0;
}

header .header-inner,
header ul,
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav,
header .grey-box {
    width: 100%;
    position: fixed;
    max-width: 50%;
    height: 100vh;
    top: 0;
    z-index: 10;
    border-top-left-radius: 900px;
    border-bottom-left-radius: 900px;
    overflow: hidden;
}

header nav {
    transition: all ease 2s;
    right: -50%;
    z-index: 20;
    background-color: #464646;
}

.header-inner {
    position: relative;
    padding: 20px 0;
}

.header-inner nav.active {
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

header .grey-box {
    opacity: 0.8;
    max-width: 100%;
    left: 100%;
    transition: all ease 1s;
    background-color: #000;
}

.header-inner .shadow {
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

header .nav-icon {
    max-width: 20%;
    width: 100%;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #191919;
    line-height: 30px;
    text-transform: uppercase;
}

.logo span {
    transform: translate(0px, -150px);
    display: inline-block;
}

header nav ul a {
    text-transform: uppercase;
}

header ul a {
    font-size: 50px;
    font-weight: 500;
    line-height: 2;
    color: #fff;
    transition: all ease .5s;
    transform: translate(0px, -20px);
}

header ul a:hover {
    letter-spacing: 12px;
}

header .nav-icon a:hover {
    color: #fff;
}

header .nav-list {
    width: 100%;
    flex-direction: column;
}

header .toggle-btn {
    width: 55px;
    height: 55px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 9999;
}

header .toggle-btn::before,
header .toggle-btn::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border: 2px solid #464646;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    opacity: 0;
    transition: all ease-in-out .4s;
    z-index: -1;
}

header .toggle-btn::after {
    border: 0px solid #464646;
    box-shadow: 1px 0 20px 1px #464646;
}

header .toggle-btn:hover::before,
header .toggle-btn:hover::after {
    opacity: 1;
}

header .toggle-btn:hover::before {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX( 0deg) rotateY( 0deg) rotateZ( 0deg) skew( 20deg, 0deg);
}

header .toggle-btn span {
    width: 100%;
    height: 4px;
    background-color: #191919;
    display: block;
    margin-bottom: 10px;
    transition: all ease-in-out .4s;
    position: relative;
    border-radius: 5px;
}

header .cross-btn .line1 {
    transform: rotate( 45deg);
    top: 15px;
}

header .cross-btn .line2 {
    transform: translateX(30px);
    opacity: 0;
}

header .cross-btn .line3 {
    transform: rotate( -45deg);
    bottom: 12px;
}

header .toggle-btn .line3 {
    margin-bottom: 0;
}

header .toggle-btn .line2 {
    max-width: 70%;
    margin-left: auto;
}


/* header css end */


/* banner css start */

.banner h1 {
    margin: 32px 0 24px;
}

.banner p {
    font-size: 24px;
    color: #464646;
}

.banner-inner {
    position: relative;
    padding: 233px 0;
    display: flex;
    align-items: flex-end;
}

.scroll-btn {
    display: flex;
    position: relative;
    cursor: pointer;
}

.banner .scroll-btn .arrow {
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease .5s;
}

.banner .scroll-btn:hover .arrow {
    transform: translateY(-25%);
}

.scroll-btn h6 {
    position: relative;
    z-index: 1;
}

.scroll-btn:hover h6 {
    color: #757575;
}

.banner .col-left {
    max-width: 74%;
}

.banner .col-right {
    position: absolute;
    width: 100%;
    max-width: 621px;
    height: 740px;
    top: 0;
    z-index: -1;
    top: 100px;
    right: 50px;
}

.banner .col-right img {
    width: 100%;
    height: 100%;
}

.banner-inner .col-right {
    transform: scale(0.1);
    transition: all ease .2s;
}

.banner-inner .slide {
    -moz-osx-font-smoothing: grayscale;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 220% 100%;
    background-position: 100%;
    background-image: linear-gradient( 90deg, #191919 47%, rgb(254 254 254 / 0%) 46%);
}


/* banner css end */


/* service css start */

.services .services-inner {
    display: flex;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.services .detail-row {
    display: flex;
    margin-top: 24px;
}

.services .services-col {
    padding-top: 118px;
    padding-bottom: 118px;
}

.services .col-left {
    max-width: 62%;
    width: 100%;
    border-right: 2px solid #000;
}

.services .col-right {
    max-width: 38%;
    width: 100%;
    padding-left: 50px;
}

.services ul li {
    margin-bottom: 26px;
    color: #191919;
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
}

.services ul:first-child {
    margin-right: 40px;
}

.services h3 {
    color: #48604c;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.services .col-right ul {
    margin-top: 24px;
    /* max-width: 240px; */
}

.services .col-right ul li a {
    border-bottom: 2px solid #000;
    color: #191919;
    transition: all ease .5s;
}

.services .col-right li:hover span {
    color: #757575;
    top: -10px;
}

.services .col-right li:hover a {
    color: #757575;
}

.services .col-right ul li span {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px;
    transform: rotate(-45deg);
    transition: all ease .5s;
    position: relative;
    top: 0;
}


/* service css end */


/* portfolio css start */

.portfolio {
    padding: 200px 0;
}

.portfolio img {
    width: 100%;
}

.portfolio .detail-row {
    padding-top: 80px;
}

.portfolio .portfolio-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.portfolio .portfolio-item .item {
    transition: all ease .5s;
}

.portfolio .detail-row .col-left {
    max-width: 775px;
    font-size: 0;
    overflow: hidden;
}

.portfolio .detail-row .col-right {
    margin-left: 50px;
}

.title span {
    margin-bottom: 24px;
    color: #757575;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.portfolio h3 {
    font-size: 42px;
    line-height: 53px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.portfolio .scroll-btn {
    align-items: center;
}

.portfolio .scroll-btn .arrow {
    width: 64px;
    height: 64px;
    margin-left: -20px;
    transition: all ease .5s;
}

.portfolio .portfolio-item:hover .item {
    transform: scale(1.1);
}

.portfolio .portfolio-item:hover .arrow {
    margin-left: 5px;
}

.portfolio .portfolio-item:hover h6 {
    color: #757575;
}

.title {
    margin-bottom: 24px;
}

.portfolio h6 {
    letter-spacing: 0;
}

.portfolio .detail-btn {
    display: flex;
    justify-content: center;
}

.portfolio .detail-btn a {
    margin-top: 0;
    text-align: center;
}

.portfolio-main .portfolio-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}


/* portfolio css end */


/* about css start */

.about-me .detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.about-me .col-left,
.about-me .col-right {
    position: relative;
    max-width: 47%;
}

.about-me .about-card {
    width: 100%;
}

.about-me .thumbnail {
    position: absolute;
    top: -15%;
    right: -19%;
    width: auto;
}

.about-me p {
    letter-spacing: 3px;
}


/* about css end */


/* article css start */

.article {
    padding-top: 200px;
}

.article .title-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.article .title-row .btn {
    margin-top: 0;
}

.article .title span {
    font-size: 18px;
    line-height: 20px;
    color: #000;
    font-weight: 500;
}

.article h3 {
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.article .article-item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease .5s;
    cursor: pointer;
}

.article .article-item {
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid #000;
}

.article .col-left,
.article .col-right {
    max-width: 46%;
}

.article p {
    font-size: 18px;
}

.article .article-item-inner:hover {
    opacity: 0.5;
}

.article .article-item:last-child {
    margin-bottom: 0;
}

.news .title-row {
    flex-direction: column;
    max-width: 970px;
}

.news h1 {
    margin-bottom: 24px;
}

.news .title-row p {
    font-size: 24px;
    line-height: 30px;
}

.news .detail-row {
    padding-bottom: 80px;
    border-top: 2px solid #000;
}

.news .article-item:first-child {
    padding-top: 80px;
}

.news {
    padding: 176px 0 200px;
}

.news .article-item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.news .detail-row {
    padding-bottom: 0;
}


/* article css end */


/* contact css start */

.contact-us {
    padding: 290px 0;
    position: relative;
    text-align: center;
    overflow-x: hidden;
}

.contact-us .text-big-cta span {
    position: absolute;
    color: #e8ebe8;
    font-size: 178px;
    line-height: 180px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #babbbd, -1px 0 0 #babbbd, 1px 0 0 #babbbd, 0 -1px 0 #babbbd;
    white-space: nowrap;
}

.contact-us .text-big-cta.top span {
    left: 0%;
    top: 100px;
    transform: translateX(-26%);
}

.contact-us .text-big-cta.bottom span {
    left: 0%;
    bottom: 100px;
    transform: translateX(22%);
}

.contact-us h2 {
    text-align: center;
    margin-bottom: 16px;
}

.contact-us p {
    font-size: 18px;
    max-width: 72%;
    margin: 0 auto;
}

.contact-us .btn {
    margin-top: 32px;
}


/* contact css end */


/* footer css start */

footer {
    overflow: hidden;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-top p {
    font-size: 18px;
    max-width: 52%;
}

.footer-main {
    display: flex;
    border-bottom: 2px solid #000;
}

.footer-main .detail-row {
    display: flex;
    margin-top: 24px;
}

.footer-main .col {
    padding: 80px 0;
}

.footer-main .col-left,
.footer-main .col-right {
    max-width: 50%;
    width: 100%;
}

.footer-main .col-left {
    border-right: 2px solid #000;
}

.footer-main .col-right {
    padding-left: 50px;
}

.footer-main .col-right .detail-row {
    margin-top: 40px;
}

.footer-main ul li {
    margin-bottom: 26px;
    color: #191919;
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
}

.footer-main ul li a {
    color: #191919;
    transition: all ease .5s;
}

.footer-main ul li a:hover {
    color: #757575;
}

.footer-main ul:first-child {
    margin-right: 35px;
}

.footer-main h3 {
    color: #48604c;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.footer-main .col-right ul li a {
    border-bottom: 2px solid #000;
    color: #191919;
    transition: all ease .5s;
}

.footer-main .col-right li:hover span {
    color: #757575;
    top: -10px;
}

.footer-main .col-right li:hover a {
    color: #757575;
}

.footer-main .col-right ul li span {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px;
    transform: rotate(-45deg);
    transition: all ease .5s;
    position: relative;
    top: 0;
}

.footer-copyright {
    padding: 40px 0;
    text-align: center;
}

.footer-copyright p {
    font-size: 18px;
}

.footer-copyright a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.scroll-up {
    position: relative;
}

.scroll-up .scroll-up-btn {
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 50px;
    background-color: #000;
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    border: 3px solid #000;
}

.scroll-up .scroll-up-btn i {
    font-size: 30px;
    color: #fff;
}

.scroll-up .scroll-up-btn:hover {
    background-color: #fff;
    border-color: #757575;
}

.scroll-up .scroll-up-btn:hover .arrow i {
    color: #000;
}


/* footer css end */


/* ---------------- Home page css end ----------------- */


/* --------- contact page css start ---------- */

.contact {
    padding: 176px 0 200px;
}

.contact .container {
    max-width: 1116px;
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .form-group {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

form .form-group:nth-child(2),
form .form-group:nth-child(4) {
    border-right: none;
    padding: 44px;
}

form .message {
    max-width: 100%;
    border-right: none;
}

form label {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 5px;
}

form input,
textarea {
    border: none;
    background: transparent;
    padding: 8px 0;
    font-size: 18px;
    font-family: 'Panchang';
    line-height: 1.4;
    font-weight: 500;
}

form input:focus,
textarea:focus {
    outline: none;
}

form textarea {
    min-height: 156px;
}


/* contact-details css start */

.contact-details .col-left li {
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 32px;
}

.contact-details ul,
.contact-details .col-right ul {
    margin-top: 40px;
}

.contact-details .detail-row {
    margin-top: 0;
}

.contact-details a {
    color: #191919;
    transition: all ease .5s;
}

.contact-details a:hover {
    color: #757575;
}


/* contact-details css end */


/* faq css start */

.faq {
    padding: 200px 0;
}

.faq .container {
    max-width: 1116px;
}

.faq .faq-item {
    border-bottom: 2px solid #000;
    transition: 0.5s;
    padding: 72px 0 48px;
}

.faq-item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.accordion {
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.faq-item:hover {
    transform: scaleX(0.98);
}

.faq-item {
    transition: 0.4s;
}

.faq-item .panel {
    opacity: 0;
    visibility: hidden;
    content-visibility: hidden;
    overflow: hidden;
    transition: 0.4s;
}

.faq-item.open .panel {
    opacity: 1;
    visibility: visible;
    content-visibility: visible;
    transition: 0.4s;
}

.faq h3 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
    font-family: 'Panchang';
    color: #191919;
}


/* faq css end */


/* --------- contact page css end ---------- */

@media screen and (max-width: 1290px) {
    .banner .scroll-btn {
        display: none;
    }
    .about-me .thumbnail {
        top: -12%;
        width: 185px;
        height: 185px;
        right: -14%;
    }
    .about-me .thumbnail img {
        width: 100%;
    }
    .about-me p {
        letter-spacing: 0;
    }
}

@media screen and (max-width: 1100px) {
    .footer-main ul li {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 20px;
    }
    header ul a {
        font-size: 40px;
    }
}

@media screen and (max-width: 991px) {
    .banner-inner {
        flex-direction: column;
        padding: 80px 0;
        align-items: flex-start;
    }
    .banner .col-right {
        display: none;
    }
    .banner .col-left {
        max-width: 100%;
    }
    .services .col-left {
        max-width: 100%;
        border-right: none;
    }
    .services .col-right {
        max-width: 100%;
        padding-left: 0;
        border-top: 2px solid #000;
    }
    .services .services-col {
        padding: 56px 0;
    }
    .services .services-inner {
        flex-direction: column;
    }
    .portfolio {
        padding: 148px 0;
    }
    .portfolio .portfolio-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .portfolio .detail-row .col-left {
        max-width: 100%;
    }
    .portfolio .detail-row .col-right {
        margin-left: 0;
        margin-top: 30px;
    }
    .portfolio .portfolio-item.last {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 30px;
    }
    .about-me .detail-row {
        padding: 148px 0;
        align-items: flex-start;
    }
    .about-me .col-right {
        max-width: 100%;
    }
    .about-me .col-left {
        display: none;
    }
    .about-me .thumbnail {
        top: -15%;
        width: auto;
        height: auto;
        right: -19%;
    }
    .article .title-row .btn {
        max-width: 400px;
    }
    .article .title-row {
        flex-direction: column;
    }
    .article .article-item-inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .article .col-left,
    .article .col-right {
        max-width: 100%;
    }
    .article h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .footer-main {
        flex-direction: column;
    }
    .footer-main .col-left,
    .footer-main .col-right {
        max-width: 100%;
        border: none;
    }
    .footer-main .col {
        padding: 56px 0;
    }
    .footer-main .col-left {
        border-bottom: 2px solid #000;
    }
    .contact-us .text-big-cta span {
        font-size: 120px;
        line-height: 126px;
    }
    .contact-us .text-big-cta.top span {
        top: 50px;
    }
    .contact-us .text-big-cta.bottom span {
        bottom: 50px;
    }
    .contact-us {
        padding: 180px 0;
    }
    header nav,
    header .grey-box {
        max-width: 100%;
    }
    header nav {
        transition: all ease 1.5s;
        right: -100%;
    }
    /* header .grey-box {
        display: none;
    } */
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
        line-height: 46px;
    }
    p {
        font-size: 16px;
        line-height: 28px;
    }
    .banner p {
        font-size: 18px;
        line-height: 30px;
        display: inline;
    }
    .btn {
        padding: 22px 40px;
        margin-top: 50px;
    }
    .services .detail-row {
        flex-direction: column;
    }
    .services ul li {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 26px;
    }
    h2 {
        font-size: 37px;
        line-height: 48px;
    }
    .portfolio {
        padding: 110px 0;
        border-bottom: 2px solid #000;
    }
    .portfolio .detail-row {
        padding-top: 40px;
    }
    .portfolio h3 {
        font-size: 36px;
        line-height: 46px;
    }
    .portfolio h6 {
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
    }
    .about-me {
        border-bottom: 2px solid #000;
    }
    .about-me .detail-row {
        border-top: none;
        border-bottom: none;
    }
    .about-me p {
        font-size: 18px;
        line-height: 30px;
    }
    .article {
        padding-top: 110px;
    }
    .article .title-row .btn {
        max-width: 350px;
    }
    .article .title span {
        font-size: 14px;
        line-height: 16px;
    }
    .article p {
        font-size: 16px;
    }
    .contact-us .text-big-cta span {
        font-size: 80px;
    }
    .contact-us p {
        font-size: 16px;
        max-width: 100%;
    }
    footer .footer-top {
        align-items: flex-start;
        flex-direction: column;
    }
    footer .footer-top p {
        font-size: 16px;
        max-width: 100%;
        margin-top: 20px;
    }
    .footer-main .detail-row {
        flex-direction: column;
    }
    .footer-copyright p {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 4px;
    }
    .banner h1 {
        margin: 20px 0;
    }
    .logo {
        font-size: 22px;
    }
    .banner-inner {
        padding: 56px 0;
    }
    .btn {
        padding: 21px 28px;
        margin-top: 30px;
        font-size: 14px;
    }
    .banner p {
        line-height: 24px;
    }
    h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .portfolio {
        padding: 80px 0;
    }
    .portfolio h3 {
        font-size: 28px;
        line-height: 40px;
    }
    .title span {
        font-size: 14px;
    }
    .about-me p {
        font-size: 16px;
        line-height: 28px;
    }
    .article .title-row .btn {
        max-width: 295px;
    }
    .article h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .contact-us {
        padding: 135px 0;
    }
    .contact-us .text-big-cta.top span {
        top: 30px;
    }
    .contact-us .text-big-cta.bottom span {
        bottom: 30px;
    }
    footer .footer-top {
        padding: 50px 0;
    }
    .footer-main ul li {
        margin-bottom: 20px;
    }
}